.container__btnAdc {
    margin-bottom: 1rem;
}

.container__refeicao {
    background-color: #f0cb96;
    border-radius: 8px;
    border: 1px solid var(--color5);
    margin-bottom: 1rem;
    padding: .5rem;
    width: 80%; 
}

.container__divAdcAlimento {
    display: flex;
    justify-content: space-between;
}

.container__input {
    margin-bottom: .5rem;
    border-radius: 8px 0 0 8px;
    border-right: 0;
}

.btn__input {
    border-radius: 0 5px 5px 0;
    border-left: 0;
}

.btn__deletar {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
    
}

.btn__deletar:hover {
    font-size: 14px;
    border: 1px solid black;
}

.container__ul {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.container__ul h2 {
    grid-column: 2;
    font-weight: 700;
}

.container__li {
    display: grid;
    grid-template-columns: 150px 1fr auto;
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding: .5rem;
    background-color: var(--color3);
    border-radius: 8px;
    grid-column: 1;
}

.btn__editar {
    background: none;
    border: none;
    grid-column: 3;
}

.fa-solid:hover {
    border: 1px solid black;
}

.div__macro {
    grid-area: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__modal {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgb(0 0 0 / .3);
}

.container__modal-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__modal-div button {
    align-self: flex-end;
}

.container__modal-divMacro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.container__modal-divMacro label {
    width: 100px;
    text-align: end;
    margin-right: 0.5rem;
}

.container__modal-divMacro input {
    width: 20%;
    text-align: center;
}

#Nome {
    width: 30%;
}