:root {
    --color1: #f0cb96;
    --color2: #f4d8af;
    --color3: #f8e5c8;
    --color4: #fbf2e1;
    --color5: #fffffa;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--color4);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

main {
    margin-left: 10rem;
    grid-area: 2 / 2;
}

a {
    text-decoration: none;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}